// VARIABLES 
$fuentemain: 'Roboto', sans-serif;
$blanco: #FFFFFF;
$verde: #58806C;
$Rosa: #F8B0C6;
$Oscuro: #3D3D3D;
$breaktablet: 748px;
$breakmobile: 375px;


// GLOBALES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
    text-decoration: none;
    list-style: none;
}

// BODY

body {
    width: 100%;
    font-size: 16px;
    /* 1 rem = 10px */
    background: $blanco;
    font-family: $fuentemain;


    a:visited {
        color: $Oscuro;
    }

}

// HEADER
.header {
    position: absolute;
    width: 100%;
    padding-left: 2.9rem;
    padding-right: 2.9rem;
    padding-top: 4.2rem;

    @media screen and (max-width: $breaktablet) {
        background-color: $Rosa;
    }

    @media screen and (max-width: $breakmobile) {
        background-color: yellow;
    }


    .header_contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        &-logo {
            flex-grow: 1;

            
            @media screen and (max-width: $breaktablet) {
                flex-grow: 90;
            }
        }
        &-nav {
            flex-grow:2;

            svg {
                flex-grow: 1;
                display: none;
                width: 40px;
                margin-right: 2.4rem;

                @media screen and (max-width: $breaktablet) {
                    display: block;
                    color: #3D3D3D;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                font-style: normal;
                font-weight: bold;
                font-size: 3.5rem;
                width: 29rem;
                height: 1.9rem;
                gap: 2.5rem;
                text-justify: left;
                list-style: none;

                @media screen and (max-width: $breaktablet) {
                    display: none;
                }
            }
        }

    }


    .btn {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        gap: 1rem;

        @media screen and (max-width: $breaktablet) {
            display: none;
        }

        &-signin {
            cursor: pointer;
            width: 8.3rem;
            height: 3.5rem;
            color: $verde;
            background-color: $blanco;
            border: 2px solid $verde;
            border-radius: 5px;

            &:hover {
                color: $blanco;
                background-color: $verde;
            }
        }

        &-signup {
            cursor: pointer;
            width: 8.3rem;
            height: 3.5rem;
            color: $blanco;
            background-color: $verde;
            border: 2px solid $verde;
            border-radius: 5px;

            &:hover {
                color: $verde;
                background-color: $Rosa;
            }

        }

    }
}